.menu-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    display: flex;
}

.image-box img {
    width: 10%;
    bottom: 10px;
    
}

.description-box {
    padding: 30px;
}

.description-box h3 {
    width: 10px;
    bottom: 10px;
  
}

.description-box p {
    color: #666;
}

