body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  background-color:
  padding: 10px 20px;
}

.navbar {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo  {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding-left: 100px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-right: 900px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: lightgreen; 
}

.search-container{
  position: relative;
  top: 40px;
  right: 550px;
  color: black; 
  height: 100px;
  width: 100px;
  }
  .search-box {
      width: 250px; 
      height: 30px; 
      padding: 5px; 
      font-size: 16px; 
      border: 1px solid #ccc; 
      border-radius: 5px
  }
.profile-icon a {
  position: relative;
  right: 350px;
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin-left: 20px;
}

.one-div{
  background-color:  #0e382c;
  height: 140px;
  width: 100%;}
   




  nav {
    background: rgb(225, 218, 219); 
    color: white; 
}

nav ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin: 0 20px; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    display: block;
   
}

nav a:hover {
    background: #575757;
    border-radius: 5px;
}




 


       