body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color:
    padding: 10px 20px;
}

.navbar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo  {
    color: black;
    font-size: 24px;
    text-decoration: none;
    padding-left: 100px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 900px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: lightgreen; 
}

.search-container{
    position: relative;
    top: 40px;
    right: 550px;
    color: black; 
    height: 100px;
    width: 100px;
    }
    .search-box {
        width: 250px; 
        height: 30px; 
        padding: 5px; 
        font-size: 16px; 
        border: 1px solid #ccc; 
        border-radius: 5px
    }
.profile-icon a {
    position: relative;
    right: 350px;
    color: black;
    font-size: 24px;
    text-decoration: none;
    margin-left: 20px;
}
.div1{
    display: flex;
    background-color: rgba(25, 112, 25, 0.251);
    padding-left: 100px;
}
button{
height: 25px;
    position: relative;
    left: 900px;
    top: 13px;
    border-radius: 10px;
}
.categories0{
    display: flex;
}
.categories1{
         padding: 90px;
        overflow: hidden;
        align-items: center;
        right: 800px;  
        border-radius: 50px;
        left: 800px;
        padding: 40px;
        float: right;
        margin-left: 90px; 
        border-radius: 50%;
        width: 100px;
        height: 100px;
        
}
.categories2{
    
    align-items: center;
    right: 350px;  
    border-radius: 50px;
    left: 600px;
    padding: 40px;
}
.categories3{
    
    align-items: center;
    right: 350px;  
    border-radius: 50px;
    left: 600px;
    padding: 40px;
}
.categories4{
   
    align-items: center;
    right: 350px;  
    border-radius: 50px;
    left: 600px;
    padding: 40px;
}
.categories5{
   
    align-items: center;
    right: 350px;  
    border-radius: 50px;
    left: 600px;
    padding: 40px;
}
.categories6{
   
    align-items: center;
    right: 350px;  
    border-radius: 50px;
    left: 600px;
    padding: 40px;
}
h1{
    align-items: center;
    margin-left: 110px; 
}
.newdiv{
    
    background: rgb(223, 218, 209);
    height: 400px;
    width: 1300px;
    padding: 150px 

}
.iteam1{
    height: 430px;
    width: 1300px;
}

.rooter{
    background-color: rgb(2, 58, 2);
    height: 500px;
    padding: 20px;               
    margin: 20px;               
    border: 2px solid blue;     
    text-align: center;        

}






    

    
 

